# Ficheiros de Log
*.log
logs/

# Ficheiros de Compilação do Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Ficheiros do IntelliJ IDEA
.idea/
*.iml
*.iws

# Ficheiros do Sistema Operativo
.DS_Store
Thumbs.db

# Ficheiros de Build de Outras Ferramentas
.gradle
build/
.settings/
.classpath
.project

# Ficheiros de Execução do Spring Boot
*.jar
*.war
